body {
  font: 100% "Lato", sans-serif;
  background-image: url(../assets/mainbck.png); }

#container {
  margin: auto;
  width: 400px;
  box-shadow: 0px 8px 16px #888888; }

#container2 {
  margin: auto;
  width: 400px;
  box-shadow: 0px 8px 16px #888888; }

#top {
  color: white;
  background-image: url(../assets/top.png);
  height: 40px;
  line-height: 40px; }

.left {
  width: 10%;
  float: left;
  height: 100%; }

.middle {
  width: 1.5%;
  border-left: 0.1pt solid rgba(192, 92, 52, 0.7);
  border-right: 0.1pt solid rgba(192, 92, 52, 0.7);
  height: 100%;
  float: left; }

.right {
  width: 85%;
  float: right; }

.content {
  color: black;
  background: white;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  border-bottom: 0.1pt solid #9eb2c0; }

ul {
  margin-left: 0px;
  padding: 0px;
  list-style: none; }

#checkbox_active {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#checkbox_active:hover {
  cursor: pointer; }

.trash_can {
  position: absolute;
  margin: auto;
  top: 0;
  left: 90%;
  right: 0;
  bottom: 0;
  display: block; }

.trash_can:hover {
  cursor: pointer; }

.content_left {
  position: relative; }

.content_right {
  position: relative; }

#addTask {
  color: black;
  background: white;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  border-bottom: 0.1pt solid #9eb2c0; }

#addTask_left {
  position: relative; }

#add_btn {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px; }

#add_btn:hover {
  cursor: pointer; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label:before {
  background-color: white;
  border: 0.2pt solid #9eb2c0;
  content: "";
  display: inline-block;
  font-size: 8px;
  font-weight: 900;
  height: 10px;
  width: 10px;
  line-height: 10px;
  vertical-align: middle;
  text-align: center;
  margin-top: 14.5px;
  margin-left: 14.5px; }

input[type="checkbox"]:checked + label:before {
  content: "\2714";
  color: #78b678;
  font-weight: 900; }

label:hover {
  cursor: pointer; }

#add_task {
  border: none;
  outline: none;
  height: 20px;
  width: 90%;
  margin-top: 10px;
  font: 100% "Lato", sans-serif; }

.task_text {
  width: 90%;
  overflow: hidden;
  cursor: move; }

.done {
  color: #9eb2c0; }
  .done .task_text {
    text-decoration: line-through; }
  .done .trash_can {
    content: url("../assets/trash-can-done.png"); }
